body{
   font-family: Tahoma, Geneva, sans-serif;
   color: #fff;
   background-image: url("university.jpg");
   background-repeat: no repeat;
   background-size:1550px 800px;
   background-attachment: fixed;

   }
.jumbo{
	background: rgba(30,80,80,0.3);
	 border:2px solid rgba(255,255,255,0.6);
	 margin-top: 20px;
	 height: 250px;
	 color: #fff;
}
.scores{
   background: rgba(44,62,80,0.5);
   border:2px solid rgba(255,255,255,0.6);
   color: #fff;
   padding-left: 5px;
   padding-top: 20px;

}
.btn1{
	 border:2px solid rgba(255,255,255,0.6);
 background: rgba(44,62,80,0.5);
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  color: white;
}
 

.info:hover {
  background: rgba(44,62,80,0.9);
  color: white;
}